@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a thing used to make tons of things that can go websie websie.</p>
    <p><a href="https://www.overthinkingit.com/wp-content/uploads/2009/11/StarshipTroopersCarousel.jpg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">      
        <h1><a class="btn btn-lg" href="https://www.overthinkingit.com/wp-content/uploads/2009/11/StarshipTroopersCarousel.jpg">Know more. Don't you wanna Know more? Everybody who's cool wants to Know more. Click here Know more! &raquo;</a></h1>
    </div>
</div>